body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #50727B;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 80px;
  }
  
  button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 40px;
  }

  input[type="text"] {
    font-size: 18px;
    padding: 8px;
    width: 200px;
    margin-top: 20px;
  }
  
  #result {
    font-size: 22px;
    margin-top: 10px;
  }

  
  